/*-- scss:defaults --*/

$body-bg: #000000;
$body-color: #7a6f69;
$link-color: #005088;
$selection-color: #00b0dc;

$presentation-heading-color: $selection-color;
$tabset-border-color: #bbb3b0;

/*-- scss:rules --*/